<html>
	<body>
		<style>
			body{}
			body {
				margin: 0% 10% 0% 10%;
				padding: 0;
				font-family: 'Open Sans',sans-serif;
				font-size: 13px;
				line-height: 30px;
				background-color: #EBEBEB;
				
				}	
			header{
				margin: 0%;
				height: 10%;
				background-color: #A7DBD8;
				text-align:center;
				line-height: 60px;
			}
			 h1 {margin-top: 0px;
				text-align: center;
				font-size:30px;
				vertical-align: middle
				}
			 li{font-size:15px;
			 list-style-type: none;
				
			 }
			 a{text-decoration: none;
				color: Black;
			 }
			.sidebar{    width:150px;
							height: 80%;
							
							margin-right:10px;
							float:left;
							background-color: #F6C2C2
							;}
							
			.screen {width: 100%;}
			.top{width: 25%;
				float: left;
				text-align:center;
				border-style: solid;
				border-width: 1px;
				border-color: black;}
			a:hover {
				color: Black;
				font-weight: bold;
				border-style: groove;
				border-color: transparent transparent darkgrey transparent
				}
			input


		</style>
	</body>
</html>