<html>
	<body>
		<style>
			body{}
			body {
				margin: 0% 0% 0% 0%;
				padding: 0;
				font-family: 'Open Sans',sans-serif;
				font-size: 13px;
				line-height: 30px;
				background-color: #EBEBEB;
				
				}	
			header{
				margin: 0%;
				height: 10%;
				background-color: #363636;
				text-align:center;
				color: white;
				line-height: 60px;
			}
			 h1 {margin-top: 0px;
				text-align: center;
				font-size:30px;
				vertical-align: middle
				}
			 ul{margin:0;
			 margin-top:8%;
			 padding: 0;
			 }		
			 li{font-size:15px;
			 list-style-type: none;
			 padding-left:4%;
			 padding-right:5%;
			 }
			 a{text-decoration: none;
				color: Black;
				display: block;
				text-indent:14%;
			 }
			.sidebar{    width:150px;
							height: 80%;
							margin-right:10px;
							margin-left: 10%;
							float:left;
							background-color: #F6C2C2;
							box-shadow:10px 10px 5px #888888;
							;}
							
			.screen {width: 100%;}
			.top{width: 25%;
				float: left;
				text-align:center;
				border-style: solid;
				border-width: 1px;
				border-color: black;}
			a:hover {
				color: Black;
				font-weight: bold;
				text-indent:14%;
				background-color: #f6c8c8;
				border-style: outset;
				border-width:thin;
				box-shadow: 10px 10px 5px #ac8787;
				border-color: #ddaeae;
				}
			input


		</style>
	</body>
</html>